* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: rgb(40, 40, 40);
  font-family: sans-serif, "Microsoft YaHei";
}

/* header */

/* header */

/* header */

/* header */

#header {
  width: 100vw;
  min-width: 405px;
  height: 3.2rem;
  padding: 0 4%;
  background-color: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

#header a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease 0s;
}

#header a:hover {
  color: rgb(210, 210, 210);
}

#header .logo {
  font-weight: bolder;
  font-size: 1.5rem;
}

nav a {
  margin-left: 1rem;
  font-weight: normal;
  font-size: 0.8rem;
}

/* container */

/* container */

/* container */

/* container */

#container {
  margin: 0 auto;
  width: 80%;
}

#container a:first-child, #container a:last-child {
  font-style: italic;
}

/* part01 */

/* part01 */

/* part01 */

/* part01 */

.part01 {
  padding-top: 2.5rem;
  weight: 100%;
  height: auto;
}

.part01 img {
  width: 100%;
  display: block;
}

/* part02 */

/* part02 */

/* part02 */

/* part02 */

.title01 {
  background-color: ;
  padding: 1.2rem 0 0.85rem 0;
  color: white;
}

.title01 p:first-child {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
  opacity: 0.7;
}

.title01 p:last-child {
  font-size: 0.85rem;
  opacity: 0.4;
}

/* content */

/* content */

/* content */

/* content */

.content, .content a {
  color: white;
  font-size: 0.85rem;
  opacity: 0.65;
  line-height: 1.5rem;
  text-decoration: none;
}

.p1 {
  padding-bottom: 1rem;
}