/* set */

/* set */

/* set */

/* set */

/* set */

/* set */

/* set */

/* set */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  background-image: url(./image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-color: rgb(14, 14, 12);
  font-family: "Microsoft YaHei", "sans-serif";
}

@media screen and (max-width: 1280px) {
  body {
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;
  }
}

@media screen and (max-width: 480px) {
  html, body, container {
    min-width: 220px;
  }
}

/* header */

/* header */

/* header */

/* header */

/* header */

/* header */

/* header */

/* header */

#header {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  color: white;
}

.title {
  font-size: 4rem;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width:2160px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (max-width:1280px) {
  .title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width:480px) {
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 0.8rem;
  }
}

.subtitle {
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
}

/* container */

/* container */

/* container */

/* container */

/* container */

/* container */

/* container */

/* container */

@media screen and (max-width: 2160px) {
  #container {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1600px) {
  #container {
    width: 74%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1440px) {
  #container {
    width: 77%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1280px) {
  #container {
    width: 84%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 720px) {
  #container {
    width: 88%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  #container {
    width: 90%;
    margin: 0 auto;
  }
}

#container {
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  box-shadow: 0px 0px 12px rgb(32, 32, 32);
}

/*part01*/

/*part01*/

/*part01*/

/*part01*/

/*part01*/

/*part01*/

/*part01*/

/*part01*/

.part01 img {
  width: 100%;
  display: block;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

/* part02 */

/* part02 */

/* part02 */

/* part02 */

/* part02 */

/* part02 */

/* part02 */

/* part02 */

.part02 {
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

/* title01 */

.title01 {
  width: 100%;
  text-align: center;
  background-color: white;
  display: block;
}

.title01 h2 {
  text-align: center;
  color: #5E5E5E;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.title01 hr {
  margin: auto;
  width: 20%;
  height: 0px;
  opacity: 0.5;
  border: none;
  border-top: 1px solid grey;
}

.title01 p {
  color: rgb(116, 116, 116);
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  opacity: 0.5;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* content */

/* content */

/* content */

/* content */

/* content */

/* content */

/* content */

/* content */

.content {
  margin: 0 auto;
  background-color: #F0F0F0;
  padding: 3.5rem 4rem;
  line-height: 2rem;
  font-size: 0.9rem;
  color: rgb(120, 120, 120);
}

@media screen and (max-width: 1280px) {
  .content {
    padding: 3rem 3rem;
  }
}

@media screen and (max-width: 720px) {
  .content {
    padding: 2rem 2rem;
  }
}

.p2 {
  padding-top: 2rem;
}

.email, .weixin {
  font-style: italic;
  color: inherit;
  text-decoration: none;
}

.future {
  color: inherit;
  text-decoration: none;
}

.weixin:hover, .remail:hover {
  color: #CD4F39;
}

/* part03 */

/* part03 */

/* part03 */

/* part03 */

/* part03 */

/* part03 */

/* part03 */

/* part03 */

.part03 {
  margin: 0 auto;
  background-color: rgb(41, 41, 41);
}

@media screen and (max-width:2160px) {
  .part03 {
    padding: 5.8rem;
  }
}

@media screen and (max-width:1600px) {
  .part03 {
    padding: 5.4rem;
  }
}

@media screen and (max-width:1440px) {
  .part03 {
    padding: 5rem;
  }
}

@media screen and (max-width:1280px) {
  .part03 {
    padding: 3.5rem;
  }
}

@media screen and (max-width:960px) {
  .part03 {
    padding: 2.8rem;
  }
}

@media screen and (max-width:680px) {
  .part03 {
    padding: 1.5rem;
  }
}

/* title02 */

.title02 {
  margin: 0;
  text-align: center;
  background-color: rgb(24, 24, 24);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  display: block;
}

.title02 h2 {
  text-align: center;
  color: rgb(215, 215, 215);
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.title02 hr {
  margin: auto;
  width: 14%;
  opacity: 0.2;
  height: 0px;
  border: none;
  border-top: 1px solid white;
}

.title02 p {
  color: rgb(131, 131, 131);
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  opacity: 0.5;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* collection */

.collection {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.collection img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width:1280px) {
  .collection img {
    width: 100%;
  }
}

/* part04 */

/* part04 */

/* part04 */

/* part04 */

/* part04 */

/* part04 */

/* part04 */

/* part04 */

.part04 {}

.one, .three {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: rgba(41, 41, 41, 0.6);
  background-color: white;
}

.two, .four {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgb(41, 41, 41);
}

.one div {
  width: 50%;
}

.two div {
  width: 50%;
}

.three div {
  width: 50%;
}

.four div {
  width: 50%;
}

.four {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.four img {
  border-bottom-right-radius: 0.4rem;
}

@media screen and (max-width:1280px) {
  .one div {
    width: 100%;
  }
  .two div {
    width: 100%;
  }
  .three div {
    width: 100%;
  }
  .four div {
    width: 100%;
  }
  .four img {
    border-radius: 0;
  }
}

.part04 img {
  width: 100%;
  display: block;
}

.text41, .text42, .text43, .text44 {
  margin: 0;
  padding: 7%;
  height: auto;
  line-height: 2.5rem;
  font-size: 0.9rem;
}

@media screen and (max-width:2160px) {
  .text41, .text43, {
    text-align: left;
  }
  .text42, .text44 {
    text-align: right;
  }
}

@media screen and (max-width:1280px) {
  .text41, .text42, .text43, .text44 {
    text-align: center;
  }
}

/* footer */

/* footer */

/* footer */

/* footer */

/* footer */

/* footer */

/* footer */

/* footer */

#footer {
  margin: 2.5rem auto;
  text-align: center;
  line-height: 2rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 2160px) {
  #footer {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(42, 42, 42, 0.7);
  }
}

@media screen and (max-width: 1000px) {
  #footer {
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px 2px rgba(42, 42, 42, 0.6);
  }
}