* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(32, 32, 32);
  background-image: url(./image/pic22.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif, "Microsoft YaHei";
}

/* header */

/* header */

/* header */

/* header */

#header {
  width: 100vw;
  min-width: 320px;
  height: 3.2rem;
  padding: 0 4%;
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

#header a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease 0s;
}

#header a:hover {
  color: rgb(210, 210, 210);
}

#header .logo {
  font-weight: bolder;
  font-size: 1.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

nav a {
  margin-left: 1rem;
  font-weight: normal;
  font-size: 0.8rem;
}

/* banner */

/* banner */

/* banner */

/* banner */

#banner {
  color: rgba(250, 250, 250, 0.9);
  width: 70%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

#banner p:first-child {
  font-size: 4.4rem;
  font-weight: lighter;
}

#banner p:last-child {
  font-size: 1.7rem;
  font-weight: lighter;
}

/* footer */

/* footer */

/* footer */

/* footer */

.beian {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, -20%);
}

.beian p {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.79);
  font-size: 0.6rem;
  text-align: center;
  opacity: 0.4;
  line-height: 1.2rem;
}

.beian a {
  text-decoration: none;
}

/* .audio {
  position: fixed;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  opacity: 0.05;
} */

#banner p:first-child {
  opacity: 0;
  animation: one 2s ease 2s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes one {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#banner p:last-child {
  opacity: 0;
  animation: two 2s ease 3s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes two {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.effect {
  width: 100vw;
  height: 100vh;
  background-color: rgb(32, 32, 32);
  position: fixed;
  animation: effect 2s ease 1s 1 normal;
  animation-fill-mode: forwards;
  z-index: 99999;
}

@keyframes effect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}